
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-image {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin-right: 15px; 
    object-fit: cover; 
  }
  
Navbar{
    text-align: right;
    padding: 50px 50px;
    color: #000;
}
.list{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    pad: 0;
}
.list li{
    font-weight: 500;

    list-style: none;
    margin: 0 24px;
    cursor: pointer;
    font-style: normal;
    font-size: 16px;
    font-weight:200px;
}
.list li a{
    text-decoration: none;
    color: #FFFFFF;
}
.list li a:hover{
    text-decoration: none;
    color: #FF8303;
}